* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', ;
}

.hr-1 {
    width: 1px;
    height: 38px;
    background: #EBEBEB;
}

.header {
    padding: 15px 25px;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_nav_img {
    cursor: pointer;
    margin-left: 100px;
}

.header_nav_list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header_nav_item {
    margin-right: 60px;
}

.header_nav_item_link {
    color: #6C6C6C;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    transition: .3s ease all;
}

.header_nav_item_link:hover {
    text-decoration: underline;
    color: white;
    background: #000;
    padding: 2px 10px;
    border: 1px solid black;
}

.header_nav_item_link-1 {
    font-family: 'Poppins';
    color: red;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    transition: .3s ease all;
}

.header_nav_item_link-1:hover {
    text-decoration: underline;
    color: white;
    background: #000;
    padding: 2px 10px;
    border: 1px solid black;
}

.header_nav_item-cart {
    margin-right: 100px;
}

.header_nav_item_link-cart {
    transition: .3s ease all;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_nav_item_link-cart:hover {
    text-decoration: underline;
}

.main {
    padding-top: 60px;
}

.section-1 {
    background-image: url("./images/img-bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sc-1_box {
    margin-left: 100px;
    width: 576px;
    height: 305px;
}

.sc-1_box h4 {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #D77474;
}

.sc-1_box h1 {
    font-family: 'Poppins';
    margin-bottom: 10px;
    text-transform: uppercase;
    font-style: Bold;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.sc-1_box p {
    font-family: 'Libre Franklin-700';
    color: #6C6C6C;
}

.sc-1_img {
    margin-left: auto;
    width: 784px;
    height: 445px;
}

.sc-1_btn {
    cursor: pointer;
    color: white;
    background: #AC1313;
    margin-top: 51px;
    width: 201px;
    height: 62px;
    border: 1px solid red;
    transition: .3s ease all;
}

.sc-1_btn:hover {
    cursor: pointer;
    color: red;
    background: #fff;
}

.section-2 {
    width: 100%;
    height: 730px;
}

.section-2 h4 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Poppins-700';
    text-transform: uppercase;
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #D77474;
    text-align: center;
}

.section-2 h2 {
    font-family: 'Poppins-700';
    text-transform: uppercase;
    font-style: Bold;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    text-align: center;
}

.sc-2_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    width: 1172px;
    height: 240px;
}

.sc-2_p-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sc-2_span-1 {
    width: 509px;
    height: 222px;
}

.sc-2_span-1 h3 {
    font-family: 'Poppins-700';
    font-weight: 700;
    font-style: bold;
    font-size: 29px;
    line-height: 36px;
    color: #000000;
}

.sc-2_span-1 p {
    margin-top: 26px;
}

.sc-2_span-1 {
    width: 509px;
    height: 222px;
}

.sc-2_span-2 {
    width: 509px;
    height: 222px;
}

.sc-2_span-2 h3 {
    font-family: 'Poppins-700';
    font-weight: 700;
    font-style: bold;
    font-size: 29px;
    line-height: 36px;
    color: #000000;
}

.sc-2_span-2 p {
    margin-top: 26px;
}

.section-3 {
    display: flex;
    align-items: center;
    margin: 150px auto;
    width: 1172px;
    height: 224px;
}

.span_sc-3 {
    width: 500px;
    height: 220px;
    background: #F5F5F5;
}

.sc-3_img {
    transform: translateX(-400px);
}

.sc-3_box {
    width: 396px;
    height: 200px;
}

.sc-3_box h3 {
    margin-bottom: 20px;
    font-family: 'Poppins-700';
    color: black;
    font-weight: 700;
}

.sc-3_box p {
    margin-bottom: 20px;
    color: #6C6C6C;
    font-weight: 700;
}

.sc-3_box a {
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.section-4 {
    display: flex;
    align-items: center;
    margin: 320px auto;
    width: 1172px;
    height: 224px;
}

.span_sc-4 {
    width: 500px;
    height: 220px;
    background: #F5F5F5;
}

.sc-4_img-2 {
    transform: translateX(390px);
}

.section-5 {
    margin: 100px auto;
    width: 1200px;
    height: 1500px;
}

.sc-5_h4 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #D77474;
}

.sc-5_h2 {
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
}

.sc-5_ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.sc-5_li {
    width: 371px;
    height: 580px;
    border-bottom: 1px solid #00000058;
}

.sc-5_li img {
    margin-bottom: 10px;
}

.sc-5_li p {
    margin-top: 10px;
}

.sc-5_li h5 {
    color: #6C6C6C;
}

.sc-5_btn {
    margin-left: 480px;
    cursor: pointer;
    color: white;
    background: #AC1313;
    margin-top: 51px;
    width: 201px;
    height: 62px;
    border: 1px solid red;
    transition: .3s ease all;
}

.sc-5_btn:hover {
    transform: skewY(30deg);
}

.section-6 {
    font-family: 'Poppins';
    background-image: url("./images/sc-6_bg-img.png");
    border: 1px solid;
    width: 1440px;
    height: 471px;
    margin: 100px auto;
}

.red-text {
    text-decoration: underline;
    color: #AC1313;
    cursor: pointer;
}

.sc-6_box {
    margin-left: 144px;
    margin-top: 120px;
    width: 566px;
    height: 230px;
}

.sc-6_box h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}

.sc-6_box p {
    color: #6C6C6C;
}

.sc-6_box h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}

.sc-6_box h2 {
    margin-bottom: 10px;
}

.btn-sc-6 {
    transition: .3s ease all;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    width: 195px;
    height: 62px;
    background: #AC1313;
    color: white;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.btn-sc-6:hover {
    transform: scale(1.3);
} 

.section-7 {
    width: 100%;
    height: 686px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc-7_box {
    text-align: center;
    width: 1152px;
    height: 430px;
}

.sc-7_box h4 {
    margin: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}

.sc-7_box {
    text-align: center;
    width: 1152px;
    height: 430px;
}

.sc-7_img-1 {
    margin: 30px;
}

.sc-7_input-box {
    margin: 40px auto;
    width: 500px;
    height: 45px;
    display: flex;
}

.sc-7_input {
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.607);
    padding-left: 10px;
    width: 70%;
}

.sc-7_input-box_btn {
    cursor: pointer;
    color: white;
    border: none;
    background: #000000;
    margin-left: 4px;
    width: 30%;
    transition: .3s ease all;
}

.sc-7_input-box_btn:hover {
    color: #000000;
    background: #fff;

}

.sc-7_span {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    display: flex;
}

.sc-7_span h5 {
    color: #A1A1A1;
    margin-left: 10px;
}

.footer {
    width: 1240px;
    height: 300px;
    margin: 10px auto;
}

.footer_box {
    margin-top: 30px;
    width: 1240px;
    height: 85px;   
}
.footer_box img {
    width: 1240px;
    height: 85px;
}